
.header
{
	border: 1px solid #2a2a2a;
	background: #333638;
	color: #676a6d;
	font-weight: bold;
	text-align:center;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c),
		to(#111));
	background-image: -webkit-linear-gradient(top, #3c3c3c, #111);
	background-image: -moz-linear-gradient(top, #3c3c3c, #111);
	background-image: -ms-linear-gradient(top, #3c3c3c, #111);
	background-image: -o-linear-gradient(top, #3c3c3c, #111);
	background-image: linear-gradient(top, #3c3c3c, #111)
	
	
}
.body-top
 {
	height: 90px;
	width: auto;
	background-color: #01aef0;
}

.pageContent
 {
	
	background-color: #ffffff;
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}
.body-bottom
 {
   text-align:center;
	height: 180px;
	width: auto;
	background-color: #01aef0;
	padding-top:30%;
	
}
.body-bottom h1
{
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 22px;
	text-align: center
}
.footer
{
   border: 1px solid #2a2a2a;
	background: #000;
	color: #676a6d;
	font-weight: bold;
	text-align:center;
	text-shadow: 0 -1px 1px #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c),
		to(#111));
	background-image: -webkit-linear-gradient(top, #3c3c3c, #111);
	background-image: -moz-linear-gradient(top, #3c3c3c, #111);
	background-image: -ms-linear-gradient(top, #3c3c3c, #111);
	background-image: -o-linear-gradient(top, #3c3c3c, #111);
	background-image: linear-gradient(top, #3c3c3c, #111)
}






table td { border:0; }




.row:after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
    width: 100px;
}

.center {
    margin: 0 auto;
    width: 100px;
}

.right {
    float: right;
    width: 100px;
}
